spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/enterprise_shop_dev
    username: shop_dev
    password: shop_dev
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

security:
  jwt:
    secret: DEV_SUPER_SECRET_KEY_CHANGE_ME
    expiration: 3600000 # 1h
    refresh-expiration: 86400000 # 24h
